* body, html {
  background-color: unset !important;
  background-image: url("./grayscale.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
}

.body-image {
  background-image: url("./grayscale.jpg") 
}

h1 {
  font-family: 'Roboto Slab', serif;
}