
p {
    color: black;
}

#pic-one, #pic-two, #pic-three, #pic-four, #pic-five, #pic-six {
    border-radius: 8px;
    max-width: 350px;
    max-height: 350px;
} 

.port-link, a{
    color: rgb(56, 56, 56);
}

h1 {
    color: black;
}

.contact-form {
   padding-right: 400px;
   /* margin-right: 300px; */
}

#heading {
    text-align: center;
    padding-top: 20px;
}