
p {
    color: black;
}

#pic-one, #pic-two, #pic-three {
    border-radius: 8px;
    min-width: 150px;
    max-width: 350px;
    min-height: 150px;
    max-height: 350px;
} 

.port-link, a{
    color: rgb(56, 56, 56);
}

h1 {
    color: black;
}


#heading {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px
}
/* .projectOne, .projectTwo, .projectThree{
    margin: auto;
    width: 50%;
    padding: 10px;
} */

.row {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

#rowTwo {
    display: flex;
    justify-content: center;
    align-content: center;
}

#port {
    display: flex;
    justify-content: center;
    align-content: center;
}

.mag-icon{
    font-size: 20px; 
    color: #0000eee5
}
i {
    margin: 4px;
}
span {
    display: flex;
    justify-content: center;
    align-content: center;
}