p {
    color: black;
}
#linked {
    color: white;
}

a {
    color: grey;
}
#contact-heading {
    text-align: right;
    padding-right: 420px;
}

.contact-form {
    /* margin-top: 50px; */
    border-left: solid;
}