body {
    background-color: grey;
    background-blend-mode: overlay;
    background-size: cover;
}

#row-one {
    padding: 5px 10px 0 10px;
    /* border-radius: 30px; */
    /* background-color: gray;
    border-radius: 30px; */
}

h1 {
    font-family: 'Thasadith', cursive;
    color: grey;
}

.img-fluid {
    border-radius: 15px;
    padding: 10px;
    
   
}
p {
    color: black;
}

/* #rialto {
    max-height: 800px;
    max-width: 800px;
} */


.nav-link, .navbar-brand {
    color: white;
}

#navbarNav {
    justify-content: flex-end;
    font-style: normal;
}

.navbar-brand {
    font-weight: bolder;
    
}

